/* SETUP */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* VARIABLES ----------------------- */

:root {
    --primary-color: #232323;
    --accent-color: #fdc800;
    --white-shade: #f8f8f8;
    --background-color: #eaedf4;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}

/* 'Josefin Sans', sans-serif; */

/* GLOBAL Styles -------------------*/

body{
    margin: 0;
    font-family: var(--primary-font);
    color: #666;
    font-size: 1.6rem;
    /* background: grey; */
    background: #f8f8f8;
}

html {
    font-size: 62.5%;
}

main {
    margin-top: 57px;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    /* border: 2px solid tomato; */
    margin: 0 auto;
}

/* HEADER Styles --------------------- */


header{
    background-color: #666;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}

header h1 {
    color: #fff;
    font-family: var(--secondary-font);
    font-size: 4rem;
    margin: 0;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.addTask {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    background: rgba(0,0,0,0);
    padding: 5px 5px;
    font-size: 2rem;
}

.fa-plus {
    margin: 0 5px;
}

/* FORM Styles ------------------------- */


.formContainer{
    opacity: 0;
    position: relative;
    top: -400px;
    padding-bottom: 6px;
    transition: all 0.5s;
    display: flex;
    height: 0;
    justify-content: center;
}

.formShow{
    height: auto;
    top: 0;
    opacity: 1;
    padding: 25px 0 10px 0;
}

.formContainer.formShow {
    margin-right: 10px;
}

/* FORM INPUT Styles ------------------------------- */



.formInput {
    margin: 0 5px;
}

/* hide labels on form */
.hiddenLabel:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HIDE | SHOW BUTTONS Styles ------------------- */

.buttonContainer{
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
}


.buttonContainer button {
    color: #666;
    border-style: none;
    border-radius: 5px;
    background: rgba(102,102,102,0.1);
    padding: 5px 5px;
    margin: 0 5px 5px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.buttonContainer button:hover {
    background: rgba(102,102,102,0.5);
    color: #fff;
}

.hide-cat {
    font-weight: 700;
}

.buttonFilterContainer {
    display: flex;
    justify-content: center;
}

.filterButton {
    color: #666;
    border: 2px solid #666;
    border-radius: 5px;
    background: rgba(102,102,102, 0);
    padding: 5px 5px;
    margin: 2px 0 12px 0;
    letter-spacing: 1px;
    transition: 0.5s;
}

.filterButton:hover {
    color: #fff;
    background: rgba(102,102,102, 1);
}

/* TASKS Styles --------------------------------- */

.toDoContainer {
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
}

.toDoCard {
    width: calc(33.3% - (30px / 3));
    margin-right: 10px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 13px -6px rgba(102,102,102,0.5);
}

.hide {
    display: none;
}

.catName {
    font-size: 1.4rem;
    background: rgba(248,248,248, 0.8);
    padding: 2px 6px;
    border-radius: 5px;
    color: #666;
    text-transform: lowercase;
}

.toDoTitle {
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px 0 0 0;
    color: #232323;
}

.toDoTask {
    line-height: 1.3;

}

/* card colors */

.School {
    background: #FADEE1;
    /* background: #96DFD8; */
}

.Personal {
    background: #FAF1D6;
    /* background: #AEE6CB; */
}

.Work {
    background: #E1F7E7;
    /* background: #CDEEF3; */
}

.Other {
    background: #D9F1F1;
    /* background: #DAF1DE; */
}

.Chores {
    background: #B6E3E9;
    /* background: #D6E9AA; */
}

.completedTask {
    background: rgba(0,0,0,0);
    font-size: 2rem;
    border: none;
    color: rgba(102,102,102,0.5);
    transition: color 0.5s;
}

.completedTask:hover {
    color: rgba(102,102,102,1);
}

.fa-check-square {
    color: #666;
    margin: 20px 0 0 0;
}

/* RESPONSIVE MEDIA QUERIES------------------ */

@media (max-width: 915px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .toDoCard {
        width: calc(50% - (20px / 2));
        margin-right: 10px;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 15px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 13px -6px rgba(102,102,102,0.5);
    }
}


@media (max-width: 500px) {
    main {
        margin-top: 65px;
    }
    
    .headerContainer{
        padding-right: 0;
    }
    
    .formContainer form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .formContainer.formShow {
        margin-right: 0;
    }

    .formInput {
        width: 100%;
    }

    .buttonContainer button {
        margin: 0 0 5px 0;
        width: 100%;
    }

    .toDoCard {
        width: 100%;
        margin-right: 0;  
    }

    .filterButton {
        width: 100%
    }
}

@media (max-width: 380px) {
    main {
        margin-top: 60px;
    }
}